<mat-card>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="redirectTo('/contacts/add')"
    >
      <mat-icon>perm_identity</mat-icon> add new Contact
    </button></mat-card-actions
  >
</mat-card>
<mat-divider style="height: 20px"></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>Contact list</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>first Name</mat-label>
        <input matInput placeholder="firstName" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>last Name</mat-label>
        <input matInput placeholder="lastName" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email" />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">search</button>
    </form>
  </mat-card-actions>

  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by first name"
        >
          first Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by last Name"
        >
          Last Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by email"
        >
          Email
        </th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            color="warn"
            aria-label="delete button"
            (click)="deleteContacts(element.id, element.firstName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            aria-label="edit button"
            (click)="redirectTo('/contacts/edit/', element.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="baisc"
            aria-label="edit button"
            (click)="redirectTo('/contacts/', element.id)"
          >
            <mat-icon>account_box</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> </mat-card-content
></mat-card>
